body {
    background-color: #121212;
    color: #fff;
    margin: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

#commands {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#commands td, #commands th {
    border: 1px solid #333;
    padding: 8px;
    
}

#commands tr:nth-child(even) {
    background-color: #1f1f1f;
}

#commands tr:hover {
    background-color: #333;
}

#commands #help:hover {
    background-color: #121212;
}

#commands th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #000;
    color: white;
}

@media only screen and (max-width: 600px) {
    #commands {
        font-size: 12px;
    }

    #commands th, #commands td {
        padding: 6px;
    }
}
